{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-light">COURSE INFORMATION
        
        <a href="{% url 'course_add' %}"><button type="button"
                class="btn btn-secondary ml-3 btn btn-warning ">CREATE NEW  COURSE</button></a>
            </h2><hr class="bg-light">
            <form class="form-inline" method="POST" action="{% url 'index' %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="inputSearch">SEARCH COUSRE : </label>&emsp;
                  <input type="text" class="form-control form-control-sm" id="inputSearch" name="search"
                      placeholder="ค้นหาชื่อวิชา">
              </div>
              <button type="submit" class="btn btn-primary ml-3">SEARCH</button>
          </form><br/>
            
           {% for c in course %}
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card">
                    {% comment %} <img src="{{ tea.image.url }}" width=200 height=250> {% endcomment %}
                    {% comment %} {% load static %}  {% endcomment %}
                        {% comment %} <img src="{% static "image/1.jpg" %}" alt="logo-image" width=200 height=250>  {% endcomment %}
                    <div class="card-body">
                      <h5 class="card-title">SUBJECT : {{ c.name }}</h5>
                      <p class="card-text">COURSE ID : {{ c.course_id }}</p>
                      <p class="card-text">ROOM : {{ c.room }}</p>
                      <p class="card-text">วันที่เรียน : {{ c.weekday }}</p>
                      <p class="card-text">จำนวนรับ : {{ c.capacity }}</p>
                      <p class="card-text">Start : {{ c.start_time }}</p>
                      <p class="card-text">End : {{ c.end_time }}</p>
                      <p class="card-text"><a href="#">
                      <div class="btn btn-warning" id="test">EDIT</div>
                    </a></p>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
        


</div>
{% endblock %}
