{% extends "base.html" %}
{% block content %}
<div class="container">
    <h3 class="text-light text-center">CREATE COURSE INFORMATION</h3>
    <hr class="bg-light">
    <h5 class="card-title text-light">COURSE</h5>
    
    <body>
        <form action="{% url 'course_add' %}" method='POST'>
          {% csrf_token %}
          <table>
            {{form}}
          </table>
          <input type="submit" value="Submit">
        </form>
    </body>
    
    
    
    
    
    
    
    
    {% comment %} <form>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputEmail4">SUBJECT</label>
            <input type="text" class="form-control" id="inputEmail4">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">COURSE ID</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">ROOM</label>
            <input type="text" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-4">
            <label for="ืname">TEACHER</label>&nbsp;
            <select id="inputState" class="form-control" name="room_name">
              <option selected>--SELECT--</option>
              
              <option value="">test</option>
              
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">START TIME</label>
            <input type="date" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">END TIME</label>
            <input type="date" class="form-control" id="inputPassword4">
          </div>
          <div class="form-group col-md-4">
            <label for="inputPassword4">DAY</label>
            <select id="inputState" class="form-control" name="room_name">
              <option selected>--SELECT--</option>
              
              <option value="">test</option>
              
            </select>

          </div>
          <div class="form-group col-md-4">
            <label for="text">CAPACITY</label>
            <input type="password" class="form-control" id="inputPassword4">
          </div>
          
        </div>
        <button type="submit" class="btn btn-primary">COMFIRM</button>
      </form> {% endcomment %}
</div>
{% endblock %}
