{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-light">CHECK IN CLASS
    </h2>
    <hr class="bg-light">
    <p class="card-text">
        <p class="card-text">
            <h5 class="card-title text-light">INFORMATION</h5>
            <p class="card-text">COURSE ID : {{ course.course_id }}</p>
            <p class="card-text">SUBJECT : {{ course.name }}</p>
            <p class="card-text">TEACHER : ยังไม่มี </p>
            <p class="card-text">DAY : {{ course.weekday }}</p>
            <p class="card-text">TIME : {{ course.start_time }} - {{ course.end_time }}</p>
            <p class="card-text">CAPACITY : {{ course.capacity }}</p>
        </p>


<h5 class="card-title text-light">TOTAL</h5>
<hr class="bg-light">
<div class="row"></div>
<span class="btn btn-warning">
    Total Students: <span class="badge badge-light">{{ course.capacity }}</span>
</span>
<span class="btn btn-success">
    Attend: <span class="badge badge-light">250</span>
</span>
<span class="btn btn-danger">
    Absent: <span class="badge badge-light">750</span>
</span>
<br /><br />
<h5 class="card-title text-light">LIST</h5>
<hr class="bg-light">
<table class="table table-hove">
    <thead class="thead-dark text-center">
        <tr>
            <th scope="col">FIRSTNAME</th>
            <th scope="col">LASTNAME</th>
            <th scope="col">STUDENT ID</th>
            <th scope="col">STATUS</th>
        </tr>
    </thead>
    <tbody class="text-center">
        
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>tset</td>
           
            
        </tr>
        
    </tbody>
</table>

</div>
</p>
</div>
{% endblock %}