{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="text-light">CHECK IN SCHOOL
    </h2>
    <hr class="bg-light">
    <p class="card-text">
        <h5 class="card-title text-light">INFORMATION</h5>
        <p>ระบบเช็คชื่อเจ้าโรงเรียน <b>สามารถเช็คการเข้าโรงเรียนได้จากรหัสประจำตัวคุณ</b><br/><br/>
            <b>รหัสประจำตัวของคุณ : <u>{{request.user.username}}</u></b><br/></p>
        <p>CHECK IN SCHOOl : <a href="#"><button type="button"
                    class="btn btn-secondary ml-3 btn btn-success ">CHECK IN</button></a></p>
        <div class="row"></div>
        <br /><br />
        <h5 class="card-title text-light">LIST</h5>
        <hr class="bg-light">
        <table class="table table-hove">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">FIRSTNAME</th>
                    <th scope="col">LASTNAME</th>
                    <th scope="col">STUDENT ID</th>
                   
                    <th scope="col">STATUS</th>
                    
                </tr>
            </thead>
            <tbody class="text-center">
                {% for std in student %}
                <tr>
                    <td>{{ std.fname }}</td>
                    <td>{{ std.lname }}</td>
                    <td>{{ std.stu_code}}</td>
                    {% if std.status == True %}
                    <td>
                        <p class="text-success">ATTEND</p>
                    </td>
                    {% else %}
                    <td>
                        <p class="text-warning">ABSENT</p>
                    </td>
                    {% endif %}
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
</p>
</div>
{% endblock %}